{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="signup-container">
    <h2>Create an Account</h2>
    {% if form.errors %}
        <div class="form-errors">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form class="signup-form" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label_tag }}
            {{ form.confirm_password }}
        </div>
        <button type="submit" class="submit-btn">Sign Up</button>
    </form>
    <p class="login-link">
        Already have an account? <a href="{% url 'login' %}">Log in here</a>.
    </p>
</div>
{% endblock %}


