/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

header {
    background-color: #333333;
    padding: 10px 20px;
}


.logo-picture {
    height: 150px;
    width: auto;


}
.navbar h2 {
    margin-top: 10px;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    color: white;
}

.slogan {
    margin-top: 10px;
    color: white;
    margin-left: 20px;
}

.nav-links-container {
    background-color: #333;
    padding: 10px 0;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links.right{
    margin-left: auto;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: lightskyblue; /* Tomato color for hover */
}

.container {
    padding: 20px;
}

.slogan h2 {
    margin-top: 10px;
    color: #1e90ff;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
}



/* Store */


/* store.css */
.store-container {
    padding: 20px;
    text-align: center;
}

.store-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.equipment-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.equipment-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.equipment-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.equipment-item img {
    width: 100%; /* Adjust width to fill the container */
    max-width: 200px; /* Set a maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    margin-bottom: 15px;
}

.equipment-item h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.equipment-item p {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

.equipment-item .btn {
    background-color: #1e90ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.equipment-item .btn:hover {
    background-color: #4682b4;
}


/* styles.css */




.reservations-container {
    margin: 20px;
    padding: 20px;
    

}

.reservations-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

.reservations-table th, .reservations-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.reservations-table th {
    background-color: #f4f4f4;
}

.reservations-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.reservations-table tr:hover {
    background-color: #f1f1f1;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 20px;
}

.form-group label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100px;
}

.form-group input:focus, .form-group select:focus {
    border-color: #1e90ff;
}
.equipment-image-container {
    text-align: center;
    margin-bottom: 30px;
}




.reserve-btn {
    padding: 15px;
    font-size: 1.2em;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reserve-btn:hover {
    background-color: #0056b3;
}



/* login i te sprawy */
/* styles.css */
.login-container, .signup-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




/* Kontener formularza wyszukiwania */
.search {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Ustawia wszystko po prawej stronie */
}

.search-container input[type="number"] {
    width: 85px; /* Możesz dostosować szerokość do swoich potrzeb */
    padding: 5px; /* Dodaje przestrzeń wewnątrz pola */
}

.search-container {
    display: flex;
    gap: 10px; /* Odstęp między polami */
}

.button-container {
    margin-top: 10px; /* Odstęp między formularzem a przyciskami */
    text-align: right;
}




.search-btn{
    padding: 10px;
    font-size: 1.2em;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #0056b3;
}

.reset-btn {
    padding: 10px;
    font-size: 1.2em;
    background-color: #ccc;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #999;
}


.search input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.welcome-msg {
   
   
    font-size: 1.3em;
    color: #333;

}


.equipment-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.reservation-container {
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}
.form-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    
}

.form-group select {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}



.date-field {
    flex: 1;
    gap: 10px;
}

.date-field label {
    display: block;
    margin-bottom: 5px;
}

.date-field input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.return-btn {
    background-color: #28a745; /* Zielony kolor dla przycisku zwrotu */
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.return-btn:hover {
    background-color: #218838; /* Ciemniejszy zielony przy najechaniu */
}





.pay-btn {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    
    cursor: pointer;
}

.pay-btn:hover {
    background-color: #0056b3;
}

.reservations-summary {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.reservations-summary h3 {
    margin: 0 0 10px;
    color: #333;
}

.reservations-summary p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #555;
}

export-buttons {
    margin-top: 5px;
    margin: 10px 0;
}

.export-btn {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.export-btn:hover {
    background-color: #0056b3;
}


/* logowanie */

/* Stylizacja kontenera logowania */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Nagłówek formularza */
.login-container h2 {
    font-size: 1.3em;
    margin-bottom: 1px;
    color: #333;
}

/* Formularz */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Pola formularza */
.login-form .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

.login-form .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Przycisk logowania */
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #005bb5;
}

/* Link do rejestracji */
.register-link {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.register-link a {
    color: #0073e6;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


/* Stylizacja kontenera rejestracji */
.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Nagłówek formularza */
.signup-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Formularz */
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Pola formularza */
.signup-form .form-group label {
    display: block;
    font-weight: bold;
    text-align: left;
    color: #555;
}

.signup-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Przycisk rejestracji */
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #005bb5;
}

/* Link do logowania */
.login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.login-link a {
    color: #0073e6;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}


/* Styl dla kontenera strony "My Account" */
.account-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Nagłówki */
.account-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.account-container h3 {
    font-size: 1.5rem;
    color: #444;
    margin-top: 30px;
}

/* Stylowanie paragrafów z danymi użytkownika */
.account-container p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

/* Formularz zmiany hasła */
.account-container form {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Stylowanie pól formularza */
.account-container form input,
.account-container form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Stylowanie przycisku zmiany hasła */
.account-container form button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.account-container form button:hover {
    background-color: #45a049;
}

/* Komunikaty o błędach i sukcesie */
.alert {
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1rem;
}

.alert.success {
    background-color: #4CAF50;
    color: white;
}

.alert.error {
    background-color: #f44336;
    color: white;
}

.alert.info {
    background-color: #2196F3;
    color: white;
}

.alert.warning {
    background-color: #ff9800;
    color: white;
}

